body {
    background-color: #70CF51;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
}
body * {
    position: absolute
}
background {
    width: 100%; height: 100%;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    width: auto; height: auto;
    padding: 20px 150px;
    background: yellow;
    text-transform: uppercase;
    border: none;
    font-size: 5em;
    cursor: pointer;
    color: #292929;
}
tree{
    background-image: url('images/tree.png');
    height: 70.5vh; width: 27em;
    background-size: cover;
}
applecrate{
    background-image: url('images/crate.png');
    width: 180px; height: 107px;
}
apple{
    background-image: url('images/apple.png');
    width: 44px; height: 54px;
}
grape{
    background-image: url('images/grapes.png');
    height: 57px; width: 52px;
}
pineapple{
    background-image: url('images/pineapple.png');
    height: 57px; width: 34px;
}

